body {
  margin: 0px;
  padding: 0px;
  /* font-family: "Alice", serif;
  font-family: "Nunito", sans-serif; */
}

a,
a:hover,
a:focus,
a:active {
  color: inherit;
  text-decoration: none;
}

li,
ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

p,
h1,
h2,
h3 {
  margin: 0px;
}

input,
textarea {
  all: unset;
}

.detalheCinza {
  color: #99aabb;
}

.detalheAzul {
  color: #1188ee;
}
