.BGbarraFuncionamento{
  background-color: #1188ee;
}

.barraFuncionamento {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  color: white;
  background-color: #1188ee;
  padding: 5px 45px;
  display: flex;
  max-width: 1200px;
  justify-content: start;
  margin: 0 auto;
}

.BGmenu {
  background-color: #17222d;
}

.menuStructure {
  display: flex;
  flex-wrap: wrap;
  background-color: #17222d;
  color: white;
  justify-content: space-between;
  align-items: center;
  padding: 26px 45px;
  margin: 0 auto;
  max-width: 1200px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: white;
}

.separador{
  content: 'teste';
  width: 5px;
  height: 5px;
  background-color: #17222d;
  border: 3px solid white;
  border-radius: 50%;
  align-self: center;
}

.menu li {
  position: relative;
}

.menu a:hover{
  color: #EE2211;
}

.redUnderline::after {
  content: '';
  display: block;
  background-color: #EE2211;
  height: 2px;
  width: 10ch;
  position: absolute;
  top: 24px;
  left: -2px;
  transition: .3s;
}

.redUnderline:hover::after{
  width: 0;
}

@media(max-width: 700px){
  .menuStructure {
    display: grid;
    gap: 25px;
    padding: 20px 45px;
  }
}

@media(max-width: 500px){
  .barraFuncionamento {
    font-size: 10px;
  }

  .menu {
    font-size: 14px;
    line-height: 18px;
    gap: 12px;
  }
  
  .separador{
    content: 'teste';
    width: 3px;
    height: 3px;
  }
}